---
import PageLayout from "@/layouts/Base.astro";
import SocialList from "@/components/SocialList.astro";

const meta = {
	description: "I'm a starter theme for Astro.build",
	title: "About",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-12">About</h1>
	<div class="prose prose-sm prose-cactus max-w-none">
		<p>
			Hi, I'm CS major undergraduate student at KAIST(Korean Advanced Institute of Science
			Technology). I am interested in Computer System(OS, Architecture), and also deep-diving into
			AI Systems. I am happy to organize my work in this blog. Please feel free to contact me. Thank
			you!
		</p>
		<SocialList />
	</div>
</PageLayout>
